.container {
    max-width: 1400px;
    margin-top: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #353535;
}

a {
    color: unset;
    text-decoration: none;
}
/* 
h1 {
    font-family: 'Shrikhand', cursive;
} */

/* Header */
.logo {
    width: 200px;
    height: 35px;
    margin: 0 auto;
    display: block;
}

#location {
    margin-top: 20px;
    background-color: #EAEAEA;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#location i, #location p{
    color: #353535;
    font-size: 16px;
}

/* Section Hero */
h1 {
    margin: 0;
}

.hero {
    background: #F6F6F6;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}

.hero p {
    font-size: 18px;
    font-weight: 300;
}

.hero button {
    color: white;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    margin-top: 15px;
    font-size: 16px;
    border: 1px solid;
    background: linear-gradient(193.33deg, #FF79DA  -11.44%, #9356DC 123.93%);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.hero button:hover {
    background: linear-gradient(193.33deg, #f989d9 -11.44%, #9462d0 123.93%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Augmentation de l'ombre portée au survol */
    border: 1px solid transparent;
}

/* Section Fonctionnement */
.container-fonctionnement {
    width: 100%;
    height: 228px;
    margin: 20px 0 0;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 100px;
}

.fonctionnement h2 {
    margin: 20px 20px;
    font-size: 24px;
    color: #000000;
}

.btn-fonctionnement {
    display: flex;
}

.btn-fonctionnement .container-btn {
    position: relative;
}

.btn-fonctionnement button {
    background-color: #F6F6F6;
    border: 1px solid transparent;
    box-shadow: 0px 4px 15px 0px #00000026;
    height: 72px;
    flex: 1;
    margin: 0 20px;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.absolute-num {
    position: absolute;
    left: -15px;
    width: 24px;
    height: 24px;
}

/* Section restaurants */
.restaurants {
    width: 100%;
    height: 750px;
    background-color: #F6F6F6;
}

.restaurants h2 {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin: 0 100px;
    padding: 40px 0 0;
}

.cards-menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    margin: 70px 100px;

}

.cards-menu article {
    position: relative;
    background: #FFFFFF;
    border-radius: 15px;
    flex: 1 1 calc(50% - 25px);
    height: 251px;
}

.cards-menu article img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heart i {
    margin: 0 30px;
    background-color: #FFFFFF;
}


.text-card {
    margin: 10px;
}

.text-card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.text-card p {
    margin: 10px 0;
    font-size: 17px;
    font-weight: 300;
    color: #000000;
}

.absolute-new {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    color: #008766;
    background-color: #99E2D0;
    width: 80px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
}

/* FOOTER */
footer {
    position: relative;
    width: 100%;
    height: 114px;
    background-color: #353535;    
}

.logo-footer {
    position: absolute;
    top: 60%;
    right: 5%;
}

.lien-footer {
    position: absolute;
    top: 65%;
    right: 20%;
}

.lien-footer a {
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin: 0 20px;
}

.lien-footer img {
    margin: 0 10px;
}

/* Responsive Tablettes */
@media (min-width: 769px) and (max-width: 992px) {
    .hero h1 {
        font-size: 32px;
    }

    .fonctionnement {
        margin: 0 20px;
    }

    .btn-fonctionnement button {
        flex: initial;
        gap: 30px;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        width: 100%;
    }

    .cards-menu {
        margin: 40px 60px;
    }

    .restaurants h2 {
        margin: 0 60px;
    }

    .lien-footer a {
        margin: 0 5px;
    }
    
}

/* Mobiles */
@media screen and (max-width: 768px) {
    .hero {
        height: 300px;
    }

    .hero h1 {
        font-size: 24px;
        text-align: center;
        width: 275px;
        margin-top: 20px;
    }

    .hero p {
        text-align: center;
        width: 315px;
    }

    .container-fonctionnement {
        height: 440px;
    }

    .fonctionnement {
        margin: 0 20px;
    }

    .fonctionnement h2 {
        margin: 20px 5px;
    }

    .btn-fonctionnement{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .btn-fonctionnement button {
        flex: initial;
        gap: 30px;
        display: flex;
        justify-content: space-evenly;
        padding: 30px;
        width: 90%;

    }

    .cards-menu {
        margin: 0px 20px;
        flex-direction: column;
        gap: 0;
    }

    .cards-menu article {
        width: 100%;
        height: 251px;
        margin-bottom: 25px;
    }


    .cards-menu article img {
        width: 100%;
        height: 190px;
    }

    .restaurants {
        height: auto;
        padding-bottom: 100px;
    }

    .restaurants h2 {
        margin: 30px 20px;
    }

    footer {
        height: 186px;
    }

    .lien-footer {
        display: flex;
        flex-direction: column;
        right: auto;
        top: 40%;
        gap: 5px;
    }

    .lien-footer img {
        margin: 0 10px 0 0;
    }

    .logo-footer {
        top: 35px;
        left: 20px;
    }
}
    