.container {
  max-width: 1400px;
  margin-top: 30px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #353535;
}

a {
  color: unset;
  text-decoration: none;
}

/* LOADER */
.container-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOutLoader 3s forwards;
}

.loader {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  color: #9356dc;
  letter-spacing: 20px;
  text-transform: uppercase;
  font-size: 80px;
  animation: animate 3s linear infinite;
}

.loader span:nth-child(1) {
  animation-delay: 0s;
}
.loader span:nth-child(2) {
  animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes animate {
  0% {
    filter: blur(0);
  }
  40% {
    filter: blur(20px);
  }
  80% {
    filter: blur(20px);
  }
  100% {
    filter: blur(20px);
  }
}

@keyframes fadeOutLoader {
  to {
    opacity: 0;
  }
}

/* Ajout de l'animation fadeInContent pour le contenu */
@keyframes fadeInContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body.hidden .container,
body.hidden footer {
  opacity: 0;
}

body.hidden .container {
  animation: fadeInContent 9s forwards;
}

body.hidden footer {
  animation: fadeInContent 9s forwards;
}
/* FIN LOADER */

/* Header */
.logo {
  width: 200px;
  height: 35px;
  margin: 0 auto;
  display: block;
}

#location {
  margin-top: 20px;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#location i,
#location p {
  color: #353535;
  font-size: 16px;
}

/* Section Hero */
h1 {
  margin: 0;
}

.hero {
  background: #f6f6f6;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}

.hero p {
  font-size: 18px;
  font-weight: 300;
}

.hero button {
  color: white;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  margin-top: 15px;
  font-size: 16px;
  border: 1px solid;
  background: linear-gradient(193.33deg, #ff79da -11.44%, #9356dc 123.93%);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.hero button:hover {
  background: linear-gradient(193.33deg, #f989d9 -11.44%, #9462d0 123.93%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Augmentation de l'ombre portée au survol */
  border: 1px solid transparent;
}

/* Section Fonctionnement */
.container-fonctionnement {
  width: 100%;
  height: 228px;
  margin: 20px 0 0;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
}

.fonctionnement h2 {
  margin: 20px 20px;
  font-size: 24px;
  color: #000000;
}

.btn-fonctionnement {
  display: flex;
}

.btn-fonctionnement .container-btn {
  position: relative;
}

.btn-fonctionnement button {
  background-color: #f6f6f6;
  border: 1px solid transparent;
  box-shadow: 0px 4px 15px 0px #00000026;
  height: 72px;
  flex: 1;
  margin: 0 20px;
  border-radius: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.absolute-num {
  position: absolute;
  left: -15px;
  width: 24px;
  height: 24px;
}

/* Section restaurants */
.restaurants {
  width: 100%;
  height: 750px;
  background-color: #f6f6f6;
}

.restaurants h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0 100px;
  padding: 40px 0 0;
}

.cards-menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  margin: 70px 100px;
}

.cards-menu article {
  position: relative;
  background: #ffffff;
  border-radius: 15px;
  flex: 1 1 calc(50% - 25px);
  height: 251px;
}

.cards-menu article img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

/* ------------ Animation J'aime --------------- */
.heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart i {
  margin: 0 30px;
}

.btn-like {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-like i {
  content: "\f004";
  font-size: 22px;
  position: relative;
  height: 21px;
  width: 22px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  z-index: 0;
}

.btn-like i::before {
  position: absolute;
  content: "\f004";
  top: 21px;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
  z-index: -1;
}

.btn-like i:hover::before {
  top: 0;
}

/* -------------- Fin Animation j'aime -------------- */

.text-card {
  margin: 10px;
}

.text-card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.text-card p {
  margin: 10px 0;
  font-size: 17px;
  font-weight: 300;
  color: #000000;
}

.absolute-new {
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  color: #008766;
  background-color: #99e2d0;
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
}

/* FOOTER */
footer {
  position: relative;
  width: 100%;
  height: 114px;
  background-color: #353535;
}

.logo-footer {
  position: absolute;
  top: 60%;
  right: 5%;
}

.lien-footer {
  position: absolute;
  top: 65%;
  right: 20%;
}

.lien-footer a {
  font-weight: 500;
  font-size: 16px;
  color: white;
  margin: 0 20px;
}

.lien-footer img {
  margin: 0 10px;
}

/* Responsive Tablettes */
@media (min-width: 769px) and (max-width: 992px) {
  .hero h1 {
    font-size: 32px;
  }

  .fonctionnement {
    margin: 0 20px;
  }

  .btn-fonctionnement button {
    flex: initial;
    gap: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
  }

  .cards-menu {
    margin: 40px 60px;
  }

  .restaurants h2 {
    margin: 0 60px;
  }

  .lien-footer a {
    margin: 0 5px;
  }
}

/* Mobiles */
@media screen and (max-width: 768px) {
  .hero {
    height: 300px;
  }

  .hero h1 {
    font-size: 24px;
    text-align: center;
    width: 275px;
    margin-top: 20px;
  }

  .hero p {
    text-align: center;
    width: 315px;
  }

  .container-fonctionnement {
    height: 440px;
  }

  .fonctionnement {
    margin: 0 20px;
  }

  .fonctionnement h2 {
    margin: 20px 5px;
  }

  .btn-fonctionnement {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .btn-fonctionnement button {
    flex: initial;
    gap: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    width: 90%;
  }

  .cards-menu {
    margin: 0px 20px;
    flex-direction: column;
    gap: 0;
  }

  .cards-menu article {
    width: 100%;
    height: 251px;
    margin-bottom: 25px;
  }

  .cards-menu article img {
    width: 100%;
    height: 190px;
  }

  .restaurants {
    height: auto;
    padding-bottom: 100px;
  }

  .restaurants h2 {
    margin: 30px 20px;
  }

  footer {
    height: 186px;
  }

  .lien-footer {
    display: flex;
    flex-direction: column;
    right: auto;
    top: 40%;
    gap: 5px;
  }

  .lien-footer img {
    margin: 0 10px 0 0;
  }

  .logo-footer {
    top: 35px;
    left: 20px;
  }
}
